@import '_variables';
@import '_mixins';

input[type='range'] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;

  &:focus {
    outline: none;
    &::-ms-fill-lower {
      background: $darkblue;
    }
    &::-ms-fill-upper,
    &::-webkit-slider-runnable-track {
      background: $lightblue;
    }
  }
  &::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px;
  }

  &::-ms-fill-lower {
    background: #2a6495;
  }

  &::-ms-fill-upper {
    background: $darkblue;
  }

  @include range-thumb-track() {
    box-shadow: 1px 1px 1px $black, 0px 0px 1px #0d0d0d;
    cursor: pointer;
  }
  @include range-track() {
    width: 100%;
    height: 8.4px;
    background: $darkblue;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  @include range-thumb() {
    border: 1px solid $black;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: $white;
  }
  @mixin ms-fill() {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px $black, 0px 0px 1px #0d0d0d;
  }
}
