@mixin theme($primary-color, $rotate: 120deg, $darkenpct: 20%) {
  $other-color: adjust-hue($primary-color, $rotate);
  $other2-color: adjust-hue($primary-color, 180deg);
  $secondary-color: adjust-hue($primary-color, -$rotate);

  .btn {
    &-primary {
      @include btn-base($primary-color);
    }
    &-secondary {
      @include btn-base($secondary-color, $darkenpct);
    }
    &-other {
      @include btn-base($other-color, $darkenpct);
    }
    &-other2 {
      @include btn-base($other2-color, $darkenpct);
    }
  }
}

@mixin btn-base($bg, $darken_pct: 0) {
  $background-color: darken($bg, $darken_pct);

  background-color: $background-color;
  border-color: darken($bg, 20%);

  @if lightness($background-color) < 70% {
    color: white;
  }

  &:hover:not(:disabled) {
    background-color: lighten(saturate($bg, 20%), 10%);
  }
}
